/* Add a red background color to navbar links on hover */
.navbar a {
   color: white;
  }

.navbar a:hover {
    background-color: #0275d8;
    color: #2D3047;
  } 

  body {
  background-color: #2D3047;
  color: white;
}

.light-mode{
	background-color: white;
    color: black;
}
  
.center{
	text-align: center;
}

.right{
	text-align: right;
}

.yellow{
	color:#ffcc00;
}

.bg-black{
    background-color: black;
    color: white;	
}

.bgy{
	background-color:#FF4F79;
}
.icon{
	height:30px;
	width:30px;
	margin-top:10px;
	margin-right:10px;
}

.lp{
	padding-right:30px;
}
html {
height: 100%;
}
.bgyo{
	background-image: linear-gradient(90deg, rgb(255, 255, 128), #ffcc00);
}

.login{
	background-color: white;
	width: 50%;
	border-radius: 25px;
	margin-left: 25%;
	margin-top: 150px;
	
  
}

.wcontainer{
	width: 90%;
	border-radius: 25px;
	margin-left: 5%;
	margin-top: 5px;
	padding-left: 5px;
	padding-top: 10px;
	
}
.nav-right{
	float: right;
}

.ct{
  margin-left: auto;
  margin-right: auto;
}

.bg-az{
	Background-color: #1F8FFF;
}

.Dscroll{
	max-height: 100px;
	overflow-y: scroll;
}

.stm a{
	color: white;
	text-decoration: none;
}

.stm a:hover{
	color: grey;
}

#DMS{
	margin-left: 5%;
	text-align: right;
}
.bdt{
	border-top-style: solid;
	margin-top: -18px;
}

.bd{
	border-style: solid;
	padding-bottom: -50px;
}

.bd-az{
	border-style: solid;
	border-color: #1F8FFF;
}

.oneliner{
	white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.icont{
	width: 100%;
	padding-bottom: 15px;
	
}
